* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 27px;
  font-style: normal;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  text-align: center;

  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #999494;
}
.previewTitle {
  text-align: center;
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);
  margin-bottom: 0px;
}
.previewContainer {
  min-height: 15vh;
  padding-top: 20px;
  padding-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: #6563FF; */
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);
  /* background: linear-gradient(to right, #5e70ff, #6967fa); */
}
.previewContainer img{
  width: 30%;
  margin-left: 20px;
}
.reg-container {
  position: relative;
  width: 50%;
  display: flex;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.login-container {
  position: relative;
  width: 33%;
  display: flex;
  margin: auto;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.reg-container .form {
  padding: 30px;
}
.login-container .form {
  padding: 40px;
}
.login-signup-holder button:hover{
  background-color: #5f14a0;
}
.buttonStyle{
  border: none;
  outline:none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: #7e22ce;
  color:white;

}
.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans-less-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.buttonStyle:hover{
 background-color: #5f14a0;
}
.title {
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 4px;
  width: 50px;
  /* background-color: #6563FF; */
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);
  /* background: linear-gradient(to right, #5e70ff, #6967fa); */
  border-radius: 25px;
}
.input-field {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  position: relative;

  /* background-color: red;
    width: 100%; */
}
.input-field input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  border-radius: 0px;
  transition: all 0.2s ease-in;
  border-bottom-color: #7e22ce;
}
input[type="file"] {
  display: none;
  border-bottom-color: #7e22ce;
}
.custom-file-input {
  background-color: white;
  border-bottom: 2px solid #7e22ce;
  color: black;
  min-height: 100%;
  border-radius: 0px;
  width: 100%;
  padding-top: 15px;
}

.custom-file-input span {
  padding-left: 10px;
  font-size: 16px;
}
.custom-file-input p {
  padding-left: 10px;
  font-size: 16px;
}
.custom-file-input .icon {
  color: #7e22ce;
  top: 0px;
}
.displayOffer {
  width: 60%;
}
.icon {
  position: relative;
  top: -37px;
  color: #999;
  transition: all 0.2s ease;
  color: #7e22ce;
}
.eye {
  position: relative;
  top: -37px;
  left: 88%;
  color: #999;
  transition: all 0.2s ease;
}
.input-field input:is(:focus) {
  border-bottom-color: #5f14a0;
}
.input-field input:is(:focus) ~ .icon {
  color: #320558;
}
.input-field input:is(:focus) ~ .eye {
  color: #320558;
}
.input-field select:is(:focus) ~ .icon {
  color: #320558;
}
.input-field select:is(:focus) {
  border-bottom-color: #320558;
}
.input-field select {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  border-radius: 0px;
  transition: all 0.2s ease-in;
  border-bottom-color: #7e22ce;
}
/* select::before{
  content:'Registration Duration'
} */
.forgotPassword {
  display: flex;
  justify-content: end;
}
a {
  text-decoration: none;
  color: #7e22ce;
}
a:hover {
  text-decoration: underline;
}
.button input {
  border: none;
  /* background-color: #6563FF; */
  /* background:linear-gradient(90deg,#8684ec 0,#ff60f5 50%,#ffb68d 100%) ; */

  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 450;
  background-color: #7e22ce;
  color: white;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.button input:hover {
  /* background-color: #265df2; */
  /* background:linear-gradient(90deg,#8684ec 0,#ff60f5 50%,#ffb68d 100%) ; */
  background-color: #5f14a0;
}

.custom-marker img {
  width: 60px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
}

.login-signup {
  text-align: center;
}
.restaurant-display-icon {
  color: #7e22ce;
}
.card {
  border: none;
  padding: 5px;
  margin: auto;
  width: 85%;
  min-height: 7vh;
}
.card img {
  border-radius: 25px;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 0 20px #dddcdc;
  border: 2px solid #ffffff;
  border-radius: 15px;
}
.coupon{
  background-color: #7e22ce;
  color: white;
}
.coupon:hover{
  background-color: #5f14a0;
  color: white;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px 0;
  width: 100%; /* Ensures the note takes the full width of the column */
  display: flex;
  flex-direction: column;
}
.note-content {
  flex-grow: 1;
}
.note-buttons {
  display: flex;
  justify-content: flex-end;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  margin-left: 3px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-left: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  background-color: white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* Grid container to handle note layout */
.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.form-div {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 2px;
}
form.create-note button {
  /* position: absolute;
  right: 18px;
  bottom: -18px; */
  margin: 5px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 760px) {
  /* CSS rules here */
  form.create-note {
    position: relative;
    width: 300px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  h1 {
    text-align: center;
  }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .note {
    flex: 0 0 20%; /* 4 notes per row with some margin */
  }
}
@media screen and (max-width: 900px) {
  .eye {
    left: 83%;
  }
  .login-container {
    width: 60%;
    
  }
}
@media screen and (max-width: 786px) {
  .eye {
    left: 83%;
  }
  .login-container {
    width: 97%;
    
  }
}

/* Small devices (phones, 576px and down) */
@media screen and (max-width: 575.98px) {
  .note {
    flex: 0 0 100%; /* 1 note per row */
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .note h1 {
    text-align: left;
  }
}

/* Medium devices (tablets, 576px to 991.98px) */
@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .note {
    flex: 0 0 44%; /* 2 notes per row */
  }
}
